body {
   font-family: 'Roboto', sans-serif;
}
footer {
   background: #303763;
   width: 100%;
   height: 400px;
   color: white;
}
.contacto img,
.contacto strong {
   display: block;
}
.contacto a {
   color: white;
   text-decoration: none;
}
