body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
}
footer {
   background: #303763;
   width: 100%;
   color: white;
   display: flex;
   position: fixed;
   bottom: 0;
}
input,
textarea {
   outline: 0;
}
.container {
   width: 100%;
   max-width: 900px;
   margin: auto;
   padding: 0 10px;
   display: flex;
   align-items: center;
}
.wrap-footer {
   padding: 20px 0;
   display: flex; /* Flexbox */
   align-items: center;
}
.contacto {
   width: 300px;
   margin-right: 32px;
}
.contacto img,
.contacto strong {
   display: block;
}
.contacto a {
   color: white;
   text-decoration: none;
   margin-right: 16px;
   margin-top: 16px;
}
.col-izq,
.col-der {
   width: 250px;
   padding: 16px 10px;
   margin-left: 16px;
}

/* Flexbox */
.info,
.formulario {
   display: flex;
   justify-content: space-between;
   margin-right: 16px;
}
.col-izq {
   margin-right: 18px;
   display: flex;
   flex-direction: column;
}
.col-izq label {
   margin-bottom: 10px;
}
.col-izq input {
   margin-bottom: 10px;
}
.sexo {
   margin: 10px 0;
   display: flex;
   justify-content: space-around;
}
.asunto {
   display: flex;
}
.check {
   display: flex;
   flex-direction: column;
   margin-right: 14px;
}
.text-area {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.text-area label,
.text-area textarea {
   margin-bottom: 10px;
}
.col-der input {
   float: right;
}

/* Estilos de inputs */
input[type="text"],
input[type="email"],
textarea {
   background: #303763;
   border: 1px solid #eee;
   border-radius: 5px;
   font-family: 'Roboto', sans-serif;
   color: white;
   padding: 5px;
   transition: 0.3s;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
   background: #525b95;
}
input[type="submit"] {
   padding: 10px 12px;
   border: 2px solid white;
   border-radius: 6px;
   background: #303763;
   color: white;
   font-family: 'Roboto', sans-serif;
   font-variant: small-caps;
   letter-spacing: 1px;
   transition: 0.3s;
}
input[type="submit"]:hover {
   background: white;
   color: #303763;
}

/* Layout max-width 800px */
@media (max-width: 800px) {
   .wrap-footer {
      flex-wrap: wrap;
      justify-content: center;
   }
}
@media (max-width: 600px) {
   .formulario {
      flex-wrap: wrap;
      justify-content: center;
   }
}
